{% load static %}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forum do Bruno</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "assets/css/app.min.css" %}" type="text/css">
    <link href="{% static '/assets/icons/fa/css/all.css' %}" rel="stylesheet">
</head>
<body style="background-image: url('/static/assets/media/backgrounds/{{background}}'); fixed; background-size: 100% auto;">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'Index' %}"><h4>Forum do Bruno</h4></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class = "nav-item"><a href = "#"><h6>Minhas informações</h6></a></li>
                    <li class = "nav-item"><a href = "#"><h6>Minhas enquetes</h6></a></li>
                    <li class = "nav-item"><a href = "#"><h6>Minhas respostas</h6></a></li>
                    <li class = "nav-item"><a href="#"><h6><span class="fas fa-user"></span> Se inscrever</h6></a></li>
                    <li class = "nav-item"><a href="#"><h6><span class="fas fa-sign-out-alt"></span> Entrar</h6></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class = "container-fluid" style="margin-top: 50px;">
    {% block content %}

    {% endblock %}
    </div>
    <footer>
        <div class = "container-fluid">
            <div>2020 Desenvolvido por <a href = "#" >Bruno Zarjitsky</a></div>
        </div>
    </footer>
</body>
</html>