{% extends "base_page.html"%}
{% load static%}
{% block content %}
{% load crispy_forms_tags %}
<div class = "row justify-content-center">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
        <div class = "card">
            <div class = "card-header">
                <div class = "row pl-2 pr-2">
                    <h4>{{enqueteDet.titulo}}</h4>
                    <div class = "ml-auto">
                        <a href = "{% url 'perfilVisita' id=enqueteDet.dono.id %}" class = "btn btn-primary">Visitar perfil do usuario {{enqueteDet.dono}}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class = "card-title">{{enqueteDet.descricao}}</h5>
                <span class = "border-top"></span>
                <span>Enquete enviada pelo usuario: {{enqueteDet.dono}}</span>
            </div>
            <span class = "border-top"></span>
            <div class = "form-group">
                <label>Sabe como ajudar?</label>
            </div>
            {% if user.is_authenticated %}
            <form action="" method="POST" class = "pb-1">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="save btn btn-primary">Enviar informações</button>
            </form>
            {% else %}
            <h6>Você precisa estar logado para responder enquetes</h6>
            {% endif %}
            <div class = "row">
                <div class = "col-md-12">
                    <div class = "card">
                        <div class = "card-header">
                            <h3 class = "card-title">Principal resposta</h3>
                            <div class = "row pl-2 pr-2">
                                Resposta Enviada por: <span class = "font-weight-bold">{{principal.dono}}</span>
                                <div class = "ml-auto">
                                    <a href = "{% url 'perfilVisita' id=principal.dono.id %}" class = "btn btn-primary">Visitar perfil do usuario {{principal.dono}}</a>
                                </div>
                            </div>
                        </div>
                        <div class = "card-body">
                            <div class = "row">
                                {{principal.resp}}
                                <div class = "ml-auto pr-1">
                                    <form action="" method="POST" class = "pb-1">
                                        {% csrf_token %}
                                        <span>{{principal.likes}}</span>
                                        <button type="submit" name = "aval" value = "{{principal.id}}" class = "save btn btn-success"><i class="fas fa-thumbs-up text-light"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Outras respostas</h4>
            {% for autos in respostas %}
            <div class = "row">
                <div class = "col-md-12">
                    <div class = "card">
                        <div class = "card-header">
                            <div class = "row pl-2 pr-2">
                            Resposta Enviada por: <span class = "font-weight-bold">{{autos.dono}}</span>
                                <div class = "ml-auto">
                                    <a href = "{% url 'perfilVisita' id=autos.dono.id %}" class = "btn btn-primary">Visitar perfil do usuario {{autos.dono}}</a>
                                </div>
                            </div>
                        </div>
                        <div class = "card-body">
                            <div class = "row">
                                {{autos.resp}}
                                <div class = "ml-auto pr-1">
                                    <form action="" method="POST" class = "pb-1">
                                        {% csrf_token %}
                                        <span>{{autos.likes}}</span>
                                        <button type="submit" name = "aval" value = "{{autos.id}}" class = "save btn btn-success"><i class="fas fa-thumbs-up text-light"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class = "col-md-2"></div>
</div>
{% endblock %}