{% extends "base_page.html"%}
{% load static%}
{% block content %}
<div class = "row justify-content-center">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
        <div class = "card">
            <div class = "card-header">
                <div class = "row">
                    <h4>{{titulo}}</h4>
                    {% if user.is_authenticated%}
                    <div class = "ml-auto">
                        <a href = "{% url 'novaEnquete' %}" type="button" class="btn btn-primary">Criar nova enquete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class = "row">
                    <div class = "col-md-12">
                    <table class="table table-hover display" style="width: 100%;" id = "enquetes">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">N° respostas</th>
                                <th scope="col">Visitar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for autos in enquetesLista %}
                            <tr>
                                <th scope="row">{{autos.enquete.id}}</th>
                                <td>{{autos.enquete.titulo}}</td>
                                <td>{{autos.qtdRespostas}}</td>
                                <td><a href = "{% url 'EnqueteDetalhe' id=autos.enquete.id %}"><i class="fas fa-directions"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-2">

    </div>
</div>
{% endblock %}