{% extends 'base_page.html' %}
{% load static %}
{% block content %}
<div class = "row justify-content-center">
    <div class = "col-md-1"></div>
    <div class = "col-md-10">
        <div class = "card">
            <div class = "card-header">
                <div class = "row pl-2 pr-2">
                    <h4 class = "card-title">Perfil</h4>
                    {% if not visita %}
                    <div class = "ml-auto">
                        <a href = "{% url 'preencherPerfil' %}" type="button" class="btn btn-primary">Editar meu perfil</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% if visita %}
                <div class = "row">
                    <div class = "col-md-3">
                        {% if meuPerfil.mostrarFoto %}
                        {% if meuPerfil.foto %}
                        <img src="{{meuPerfil.foto.url}}" alt="" style="max-height: 100%; max-width: 100%;">
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class = "col-md-9">
                        <dl class = "row">
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Nome de Usuario: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.usuario}}</dd>
                            {% if meuPerfil.mostrarNome %}
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Nome: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.nomeCompleto}}</dd>
                            {% endif %}
                            {% if meuPerfil.mostrarEmail %}
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Email: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.email}}</dd>
                            {% endif %}
                            {% if meuPerfil.mostrarNascimento %}
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Nascimento: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.nascimento}}</dd>
                            {% endif %}
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">N° enquetes: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.qtdEnquetes}}</dd>
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">N° respostas:</dt>
                            <dd class = "col-sm-9">{{meuPerfil.qtdRespostas}}</dd>
                        </dl>
                    </div>
                </div>
                {% else %}
                <div class = "row">
                    <div class = "col-md-3">
                        {% if meuPerfil.foto %}
                        <img src="{{meuPerfil.foto.url}}" alt="" style="max-height: 100%; max-width: 100%;">
                        {% endif %}
                    </div>
                    <div class = "col-md-9">
                        <dl class = "row">
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Nome de Usuario: </dt>
                            <dd class = "col-sm-9">{{user}}</dd>
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Nome: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.nomeCompleto}}</dd>
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Email: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.email}}</dd>
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">Nascimento: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.nascimento}}</dd>
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">N° enquetes: </dt>
                            <dd class = "col-sm-9">{{meuPerfil.qtdEnquetes}}</dd>
                            <dt class = "col-sm-1"></dt>
                            <dt class = "col-sm-2">N° respostas:</dt>
                            <dd class = "col-sm-9">{{meuPerfil.qtdRespostas}}</dd>
                        </dl>
                    </div>
                </div>
                {% endif %}
                <div class = "row">
                    <div class = "col-md-6">
                        <div class = "card">
                            <div class = "card-header">
                                <div class = "row pl-2 pr-2">
                                    {% if visita %}
                                    <h5>Enquetes de {{meuPerfil.usuario}}</h5>
                                    <div class = "ml-auto">
                                        <a href = "{% url 'Enquetes' %}" type="button" class="btn btn-primary">Ver todas enquetes</a>
                                    </div>
                                    {% else %}
                                    <h5>Minhas enquetes</h5>
                                    <div class = "ml-auto">
                                        <a href = "{% url 'Enquetes' %}" type="button" class="btn btn-primary">Ver todas enquetes</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class = "card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titulo</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">N° respostas</th>
                                            <th scope="col">Visitar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for autos in enquetes %}
                                        <tr>
                                            <th scope="row">{{autos.enquete.titulo}}</th>
                                            <td>{{autos.enquete.dono}}</td>
                                            <td>{{autos.qtdRespostas}}</td>
                                            <td><a href = "{% url 'EnqueteDetalhe' id=autos.enquete.id %}"><i class="fas fa-directions"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-6">
                        <div class = "card">
                            <div class = "card-header">
                                <div class = "row pl-2 pr-2">
                                    {% if visita %}
                                    <h5>Respostas de {{meuPerfil.usuario}}</h5>
                                    {% else %}
                                    <h5>Minhas Respostas</h5>
                                    {% endif %}
                                </div>
                            </div>
                            <div class = "card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Enquete</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Visitar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for autos in respostas %}
                                        <tr>
                                            <th scope="row">{{autos.pergunta.titulo}}</th>
                                            <td>{{autos.pergunta.dono}}</td>
                                            <td><a href = "{% url 'EnqueteDetalhe' id=autos.pergunta.id %}"><i class="fas fa-directions"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div class = "col-md-1"></div>
</div>
{% endblock %}